.results-container {
	text-align: center;
}

.score {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 20px;
}

.review-container {
	text-align: left;
	margin: auto;
	max-width: 600px;
}

.review-item {
	background-color: #f8f8f8;
	border: 1px solid #eaeaea;
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 10px;
}

.question-text {
	font-family: Poppins;
	font-weight: 400;
}

.correct-answer,
.your-answer {
	margin: 5px 0;
	font-family: Poppins;
}

.yourAnswer-incorrect {
	font-family: Poppins;
}

.restart-button {
	background-color: #4caf50;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 18px;
	margin-top: 20px;
}

/*
  .your-answer {
	  color: red;
  }  */

.correct-answer {
	color: #4caf50;
}

.yourAnswer-correct {
	color: #4caf50;
}

.yourAnswer-incorrect {
	color: red;
}
