@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;1,900&display=swap");

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-image: url(./assets/background-trivia.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.question-container {
	display: flex !important;
	flex-direction: column;
	color: black !important;
	font-size: 1.6rem;
	font-weight: 600;
	position: relative;
	font-family: Poppins;
}

.a-q-container {
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 40px;
	width: 900px;
	height: 250px;

	background: rgba(255, 255, 255, 0.4);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	border: 1px solid rgba(255, 255, 255, 0.3);
	border-radius: 10px;
	padding: 20px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.restart-button {
	background: rgba(255, 255, 255, 0.4);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	border: 1px solid rgba(255, 255, 255, 0.3);
	border-radius: 10px;
	padding: 20px;
	margin-bottom: 30px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.review-container {
	text-align: left;
	margin: auto;
	max-width: 600px;
}

.review-item {
	background-color: rgba(255, 255, 255, 0.2);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	border: 1px solid rgba(255, 255, 255, 0.3);
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 10px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.next-question-button {
	cursor: pointer;
	margin-top: 20px;
	background: #51c1e9;
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	border: 1px solid rgba(255, 255, 255, 0.3);
	border-radius: 10px;
	padding: 20px;
	color: black;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	transition: box-shadow 0.2s, transform 0.2s;
}

.next-question-button:active {
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	transform: translateY(6px);
}

.yourAnswer-correct {
	font-family: Poppins;
}

.previous-question-button {
	margin-left: 20px;
	cursor: pointer;
	margin-top: 20px;
	background: #51c1e9;
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	border: 1px solid rgba(255, 255, 255, 0.3);
	border-radius: 10px;
	padding: 20px;
	color: black;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	transition: box-shadow 0.2s, transform 0.2s;
}

.previous-question-button:active {
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	transform: translateY(6px);
}

.restart-quiz-button {
	margin-left: 20px;
	cursor: pointer;
	margin-top: 20px;
	background: #51c1e9;
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	border: 1px solid rgba(255, 255, 255, 0.3);
	border-radius: 10px;
	padding: 20px;
	color: black;

	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	transition: box-shadow 0.2s, transform 0.2s;
}

.restart-quiz-button:active {
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	transform: translateY(6px);
}

.timer-button {
	margin-left: 20px;
	cursor: pointer;
	margin-top: 20px;
	background: #51c1e9;
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	border: 1px solid rgba(255, 255, 255, 0.3);
	border-radius: 10px;
	padding: 7.5px 20px;
	color: black;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	transition: box-shadow 0.2s, transform 0.2s;
}

.timer-hidden {
	background: red;
}

.restart-quiz-button-timer-10 {
	
  margin-left: 20px;
	cursor: pointer;
	margin-top: 20px;
	background: red;
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	border: 1px solid rgba(255, 255, 255, 0.3);
	border-radius: 10px;
	padding: 7.5px 20px;
	color: black;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	transition: box-shadow 0.2s, transform 0.2s;
}
